.git
.github
node_modules/
backend/venv/
backend/env/
test_env/
database/
frontend/.next/
frontend/node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
db.sqlite3
